body {
    background-color: rgb(186, 250, 255);
    font-family: "Papyrus", Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(55, 33, 255);
    text-align: center;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 30px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe {
    flex: 0 1 150px;
}


a {
    color: #1148ff;
    text-decoration: none;
    /*text-align: center;*/
    font-size: 30px;
}

img {
    width: 350px;
    height: 350px;
    /*align-items: center;*/
    margin: 10px;
}


ul, ol {
    display: inline-block;
    text-align: left;
}